
.Boton{
    color: black;
    font-weight: 250;
    margin: 12px;
    padding: 5px;
    background-color: rgb(192, 141, 2);
    border-radius: 4px;
    border: solid rgb(193, 144, 8);
    cursor: pointer;
}
.Boton:hover{
    background-color: rgb(238, 170, 92);
    border:solid rgb(238, 170, 92);
}

.selectt{
    background-color: rgb(192, 141, 2);
    font-weight: 250;
    margin: 12px;
    padding: 5px;
    border-radius: 4px;
    border: solid rgb(193, 144, 8);
}

.verr{
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient( #201301,#ca6931);
    background-clip: text;
    color: transparent;  

}